[Desktop Entry]
Version=1.0
Type=Application
Name=Redshift
Comment=Enter Read Mode
Icon=/usr/share/icons/NordArc-Icons/16x16/apps/app.rednotebook.RedNotebook.svg
Exec=sh -c "pgrep redshift || redshift && killall redshift"
Categories=ConsoleOnly;System;
Keywords=read;mode
StartupNotify=false
Terminal=false
