[Desktop Entry]
Version=1.0
Type=Application
Name=Workstation
Exec=sh -c "kitty --session ~/.config/kitty/work.session"
Keywords=work,kitty,workstation
StartupNotify=false
